.Profile {
   width: 600px;
   padding: 60px 111px 59px;
   box-sizing: border-box;
   text-align: left;
}

.Header {
   text-align: left;
   margin-left: 110px;
}

.Header img {
   position: absolute;
   top: 60px;
   left: 111px;
}

.Title {
   font-size: 25px;
   font-weight: 300;
   line-height: 1;
   color: #334144;
   margin-top: 18px;
   margin-bottom: 6px;
}

.Subtitle {
   margin: 0;
   font-size: 13px;
   line-height: 1;
   color: #949ea0;
}

.Info {
   margin: 59px 0 71px;
}

.Label {
   font-size: 10px;
   line-height: 1;
   color: #949ea0;
   margin: 0;
   margin-bottom: 16px;
}

.Data {
   font-size: 18px;
   line-height: 0.72;
   color: #334144;
   margin: 0;
   margin-bottom: 31px;
}

.ButtonContainer {
   width: 150px;
   margin: 61px auto 0;
}