.ModalButton {
   height: 50px;
   width: 100%;
   padding: 0;
   margin-top: 10px;
   border-radius: 3px;
   box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
   background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
   border: none;
   outline: none;
   font-family: inherit;
   font-size: 14px;
   font-weight: 500;
   color: white;
}