.Modal {
   width: 440px;
   padding: 30px;
   box-sizing: border-box;
   border-radius: 3px;
   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
   text-align: center;
   position: absolute;
   top: 361px;
   left: calc(50% - 220px);
   z-index: 200;
   color: #334144;
   background: white;
}
