.Layout {
   width: 1220px;
   min-height: 1300px;
   margin: 60px 140px;
   border: 1px solid #ddd;
   position: relative;
}

@media (min-width: 1520px) {
   .Layout {
      margin: 60px auto;
   }
}