.Signup form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.Title {
   height: 20px;
   font-size: 20px;
   font-weight: 500;
   line-height: 1;
   color: #334144;
   margin: 0;
   margin-bottom: 30px;
}

