.Signup {
   width: 440px;
   padding: 30px;
   box-sizing: border-box;
}

.CancelMsg {
   height: 13px;
   width: 380px;
   opacity: 0.5;
   font-size: 13px;
   line-height: 1;
   text-align: center;
   color: white;
   margin-top: 50px;
   position: absolute;
   cursor: pointer;
}