.Banner {
   height: 500px;
   text-align: center;
   position: relative;
   margin-bottom: 70px;
}

.Content {
   width: 100%;
   position: absolute;
   top: 154px;
}

.Title {
   margin: 0;
   margin-bottom: 15px;
   height: 40px;
   font-size: 40px;
   font-weight: 300;
   line-height: 1;
   color: white;
}

.Subtext {
   margin: 0;
   margin-bottom: 45px;
   height: 17px;
   opacity: 0.7;
   font-size: 17px;
   font-weight: 300;
   line-height: 1;
   color: white;
}